/*----- Sass Variables -----*/
$primary-color: #202020;
$secondary-color: #171717;
$contrast-color: #da0037;
$header-color: #d2d2d2;
$text-color: #949494;
$primary-font: "Roboto", sans-serif;

/*----- CSS Reset -----*/
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: $primary-color;
    font-family: $primary-font;
}

/*----- Burger -----*/
.burger {
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    cursor: pointer;
}

.line {
    background-color: $contrast-color;
    height: 4px;
    width: 50px;
    border-radius: 15px;
    transition: 0.4s;
}

.line2 {
    margin: 10px 0 10px 0;
}

/* Rotate first bar */
.open .line1 {
    transform: rotate(-45deg) translate(-10px, 10px);
}

/* Fade out the second bar */
.open .line2 {
    opacity: 0;
}

/* Rotate last bar */
.open .line3 {
    transform: rotate(45deg) translate(-10px, -10px);
}

/*----- Nav Styling -----*/
.navbar {
    background-color: $secondary-color;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-list {
    margin: 0;
    padding: 20px;
    background-color: $secondary-color;
    list-style: none;
    position: absolute;
    transition: all 0.4s;
    top: 60px;
    left: -150px;
    min-height: 100vh;
}

.nav-item {
    color: $contrast-color;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 20px 0;
}
