/*----- Sass Variables -----*/
/*----- CSS Reset -----*/
html {
  font-size: 100%;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #202020;
  font-family: "Roboto", sans-serif;
}

/*----- General Styling -----*/
h1 {
  color: #d2d2d2;
  font-size: 2.5em;
}

h2 {
  color: #d2d2d2;
}

p {
  color: #949494;
  font-size: 1.4em;
}

button {
  background-color: #da0037;
  border-radius: 18px;
  border: 1px solid #da0037;
  color: #d2d2d2;
  font-size: 1.2em;
  cursor: pointer;
}

a {
  text-decoration: none;
}

/*----- Burger -----*/
.burger {
  width: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
  cursor: pointer;
}

.line {
  background-color: #da0037;
  height: 4px;
  width: 40px;
  border-radius: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.line2 {
  margin: 10px 0 10px 0;
}

/* Rotate first bar */
.open .line1 {
  -webkit-transform: rotate(-45deg) translate(-10px, 10px);
          transform: rotate(-45deg) translate(-10px, 10px);
  background-color: #d2d2d2;
}

/* Fade out the second bar */
.open .line2 {
  width: 0px;
  -webkit-transform: translateX(-75px);
          transform: translateX(-75px);
  background-color: #d2d2d2;
}

/* Rotate last bar */
.open .line3 {
  -webkit-transform: rotate(45deg) translate(-10px, -10px);
          transform: rotate(45deg) translate(-10px, -10px);
  background-color: #d2d2d2;
}

/*----- Nav Styling -----*/
.navbar {
  background-color: #171717;
  height: 60px;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
}

.nav-list {
  margin: 0;
  padding: 20px;
  background-color: #171717;
  list-style: none;
  position: absolute;
  z-index: 5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  top: 60px;
  left: -200px;
  min-height: 100vh;
}

.nav-item {
  color: #da0037;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin: 0 0 30px 0;
  font-weight: 600;
}

.active-page {
  color: #d2d2d2;
  border-bottom: #d2d2d2 2px solid;
}

/*----- Main -----*/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.blur {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/*----- Index Page -----*/
.profil-section {
  width: 252px;
  margin: 150px 0 0 0;
  display: -ms-grid;
  display: grid;
}

.profil-pic {
  height: 250px;
  width: 250px;
  border: 1px solid #949494;
  border-radius: 50%;
}

.index-title {
  margin: 15px 0;
}

.index-text {
  margin: 0;
}

.read-more-btn {
  height: 40px;
  width: 110px;
  margin: 20px 0 120px 0;
}

/*----- About Page -----*/
.about-section {
  margin: 140px 0 0 0;
}

/*----- Projects Page -----*/
/*----- Footer -----*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #171717;
  height: 150px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contact-title {
  text-align: center;
  margin: 0 0 15px 0;
}

.icon-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 50px;
  background-color: #da0037;
  border-radius: 10px;
  border: 1px solid #da0037;
  padding: 0 8px 0 8px;
}

.fab,
.fas {
  font-size: 2.5em;
  background-color: #da0037;
  color: #d2d2d2;
}
/*# sourceMappingURL=style.css.map */